.font_1{
		background-color: black;
		color: yellow;
		font-size: large:
	}
.font_2 {
		background-color: darkblue;
		color: white;
		font-size: medium;
	}
.zc_style {
		background-color: #000;
		color: orange;
		font-size: small;
		text-align: justify;
	}
	p {
		text-shadow: .5px .5px blue;
	}

	ol {
		list-style: armenian;
		color: seagreen;
	}

	ul {
		font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
		font-style: italic;
	}
	